FORGEJO_URL=https://git.host.bzh
FORGEJO_TOKEN=
# FORGEJO_REGISTRY_USER=pepe
# KUBERPACK_API_TOKEN=
# KUBERPACK_WEBHOOK_URL=https://kuberpack.host.bzh/hooks/forgejo
# KUBERPACK_GITOPS_URL=https://git.host.bzh/pepe/infra-homelab.git
# KUBERPACK_CHART=charts/stateless
# KUBERPACK_DATA=data
# KUBERPACK_BUILDER_IMAGE=
# KUBERPACK_DNS_TARGET=2a02:c207:2312:1564::1
# KUBERPACK_BUILDS_GIT_URL=https://git.host.bzh/pepe/kuberpack-builds.git
# KUBERPACK_PREVIEW_DOMAIN=preview.host.bzh
# KUBERPACK_FLUX_WEBHOOK_SECRET=
