FORGEJO_URL=https://git.host.bzh
FORGEJO_TOKEN=
# FORGEJO_REGISTRY_USER=pepe
# KUBERPACK_API_TOKEN=
# KUBERPACK_WEBHOOK_URL=https://kuberpack.host.bzh/hooks/forgejo
# KUBERPACK_DISPATCH_REPO=pepe/infra-homelab
# KUBERPACK_DISPATCH_WORKFLOW=app-release.yaml
# KUBERPACK_GITOPS_URL=https://git.host.bzh/pepe/infra-homelab.git
# KUBERPACK_CHART=charts/stateless
# KUBERPACK_DATA=data
# BUILDKIT_HOST=tcp://buildkitd:1234
